* {
  margin: 0;
  padding: 0;
}

body,
.header {
  background-color: #ff9d00;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='50.3' stroke-opacity='0' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.header_img {
  margin: 10px 30px 10px 50px;
  height: 80px;
  width: 80px;
  border: 1px solid white;
  border-radius: 8px;
  cursor: pointer;
}

.header_btn {
  color: black;
  border-radius: 8px;
  border: 1px solid black;
  background-color: white;
  text-decoration: none;
  margin: 0 15px;
  padding: 5px 10px;
  font-size: larger;
  font-weight: bolder;
  box-shadow: 1px 1px 5px black;
}

.header_btn:hover,
#add_btn:hover {
  transition: 0.5s;
  /* color: white; */
  /* background-color: rgb(80, 6, 80); */
  box-shadow: none;
}

.home_style {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  height: auto;
  margin: 150px auto;
  border-radius: 5px;
  background-color: white;
  box-shadow: 5px 5px 10px black /* , -2px -2px 5px black */;
}

.registration_img {
  width: 500px;
  height: 650px;
}

#text_home_regis {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
#text_home {
  font-size: large;
  /* text-decoration: underline; */
  text-align: center;
}

.registration_form {
  /* margin: 0 180px 0 0; */
  display: flex;
  align-items: center;
  justify-content:space-around;
  flex-direction: column;
}
.input_field {
  /* margin: 10px 0 !important; */
  width: 100%;
}

#submit_btn {
  padding: 10px 5px;
  /* width: 100%; */
  margin-top: 20px;
  color: white;
}
#submit_link {
  text-align: center;
  text-decoration: none;
}

#grid_links {
  margin: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}
#grid_links_btn {
  color: black;
  border: 2px solid black;
}
#grid_links_btn:hover {
  transition: 0.5s;
  color: #fff;
  border: 2px solid white;
}

.login_link {
  /* width: 100px; */
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.login_link p {
  margin: 0 5px;
}
#login_btn {
  text-decoration: none;
  color: rgb(25, 118, 210);
}
#login_btn:hover {
  text-decoration: underline;
}

.clear_errors {
  color: red;
  font-size: medium;
  padding: 0 !important;
  margin: -8px 0 5px 0 !important;
}

.clear_error {
  color: red;
  font-size: medium;
  padding: 0 !important;
  margin: 0 !important;
  margin: -8px 0 0 0;
}

#add_btn {
  float: right;
  font-weight: bold;
  font-size: larger;
  color: black;
  border-radius: 8px;
  border: 2px solid black;
  background-color: #fff;
  margin: 50px 150px 0 0;
  box-shadow: 1px 1px 5px black;
}

#datagrid {
  margin: 150px auto 50px auto;
  background: white;
  border: 2px solid black;
}
/* #dialog_box {
} */
/* .dialog_btn {
  font-weight: bold !important;
  color: #1976d2;
  margin: 10px !important;
  border: 2px solid #1976d2 !important;
  box-shadow: 2px 2px 5px #1976d2;
} */
.dialog_btn:hover {
  box-shadow: none;
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .home_style {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 750px;
    height: auto;
    margin: 80px 20px;
  }
  .registration_img {
    width: auto;
    height: 500px;
  }
  .registration_form {
    padding: 30px 0;
  }
}

@media screen and (max-width: 599px) {
  .header_img {
    margin: 10px;
    height: 50px;
    width: 50px;
  }
  .header_btn {
    margin: 0;
    padding: 5px;
    font-size: medium;
    font-weight: bolder;
  }
  .home_style {
    width: 400px;
    margin: auto;
    margin: 50px auto;
    justify-content: center;
  }

  .registration_img {
    width: 100%;
    height: 600px;
  }

  .registration_form {
    padding: 20px;
  }
  #add_btn {
    font-size: medium;
    margin: 20px 40px 0 0;
  }
  #datagrid {
    margin: 100px auto 50px auto;
  }
}
